.blocos{
    height: 50px;
    width: 50px;
    border: 3px black solid;
    text-align: center;
    font-size: 2em;
    display: inline-block;
    margin-top: 10%;
}
body{
    background-color: rgb(44, 39, 39);
    text-align: center;
}

h1{
    color: white;
}

h1{
    font-size: 3em;
}

#bloco1{
    background-color: rgb(171, 245, 152);
}

#bloco2{
    background-color: rgb(32, 61, 24);
    animation: slideBloco2 14s forwards;
    animation-delay: 7s;
}

#bloco3{
    background-color: rgb(115, 167, 102);
    animation: slideBloco3 6s forwards;
    animation-delay: 11s;
}

#bloco4{
    background-color: rgb(66, 102, 57);
    animation: slideBloco4 20s forwards;
    animation-delay: 5s;
}

#bloco5 {
    background-color: rgb(39, 68, 32);
    animation: slideBloco5 19s forwards; /* Tempo total de 6 segundos */
    animation-delay: 5s;
}

#bloco6{
    background-color: rgb(145, 207, 129);
    animation: slideBloco6 14s forwards;
    animation-delay: 8s;
}

#bloco7{
    background-color: rgb(51, 82, 43);
    animation: slideBloco7 28s forwards;
    animation-delay: 2s;
}

#bloco8{
    background-color: rgb(90, 135, 79);
    animation: slideBloco8 8s forwards;
    
}

@keyframes slideBloco2{
    0%{
        transform: translateY(0px);/*Parado*/
    }
    11%{
        transform: translateY(70px);/*Desce*/
    }
    19%{
        transform: translateY(70px) translateX(180px);/*Direita*/
    }
    32%{
        transform: translateY(0px) translateX(180px);/*Cima*/
    }
    77%{
        transform: translateY(0px) translateX(180px);/*Parado*/
    }
    87%{
        transform: translateY(0px) translateX(240px);
    }
    93%{
        transform: translateY(0px) translateX(300px);
    }
    100%{
        transform: translateY(0px) translateX(360px);
    }
}

@keyframes slideBloco3{
    0%{
        transform: translateX(0px);
    }
    52%{
        transform: translateX(-60px);
    }
    75%{
        transform: translateX(-60px);
    }
    100%{
        transform: translateX(0px);
    }

    
}

@keyframes slideBloco4 {
    0% {
        transform: translateY(0); /* Posição inicial */
    }
    11% {
        transform: translateY(70px); /* Desce para baixo */
    }
    24% {
        transform: translateY(70px) translateX(120px); /*Direita */
    }
    30% {
        transform: translateY(-0px) translateX(120px); /*Sobe*/
    }
    59%{
        transform: translateY(-0px) translateX(120px); /*Parado*/
    }
    64%{
        transform: translateY(-70px) translateX(120px);/*Sobe*/
    }
    69%{
        transform: translateY(-70px) translateX(60px);/*Esquerda*/
    }
    75%{
        transform: translateY(0px) translateX(60px);/*Desce*/
    }
    100%{
        transform: translateY(0px) translateX(60px);/*Desce*/
    }
}

@keyframes slideBloco5 {
    0%{
        transform: translateY(0); /*Parado*/
    }
    10%{
        transform: translateY(70px); /*Desce*/
    }
    21%{
        transform: translateY(70px) translateX(120px); /*Direita*/
    }
    28%{
        transform: translateY(-0px) translateX(120px); /*Sobe*/
    }

    62%{
        transform: translateY(-0px) translateX(120px); /*Parado*/
    }

    73%{
        transform: translateY(-70px) translateX(120px);/*Sobe*/
    }

    78%{
        transform: translateY(-70px) translateX(60px);/*Esquerda*/
    }

    93%{
        transform: translateY(0px) translateX(60px);/*Desce*/
    }

    99%{
        transform: translateY(0px) translateX(120px);/*Direita*/
    }

    100%{
        transform: translateY(0px) translateX(120px);/*Direita*/
    }
}

@keyframes slideBloco6{
    0%{
        transform: translateY(0px);
    }
    16%{
        transform: translateY(-70px);
    }
    32%{
        transform: translateY(-70px) translateX(-180px);
    }
    48%{
        transform: translateY(0px) translateX(-180px);
    }
    64%{
        transform: translateY(-70px) translateX(-180px);
    }
    80%{
        transform: translateY(-70px) translateX(-240px);
    }
    100%{
        transform: translateY(0px) translateX(-240px);
    }
}

@keyframes slideBloco7{
    0%{
        transform: translateX(0);
    }
    12%{
        transform: translateX(60px); /*Direita*/
    }
    50%{
        transform: translateX(60px); /*Parado*/
    }
    60%{
        transform: translateY(-70px) translateX(60px); /*Cima*/
    }
    66%{
        transform: translateY(-70px) translateX(0px); /*Esquerda*/
    }
    71%{
        transform: translateY(0px) translateX(0px); /*Baixo*/
    }
    77%{
        transform: translateY(-70px) translateX(0px); /*Cima*/
    }
    83%{
        transform: translateY(-70px) translateX(-60px); /*Esquerda*/
    }
    90%{
        transform: translateY(0px) translateX(-60px); /*Baixo*/
    }
    100%{
        transform: translateY(0px) translateX(-60px); /*Baixo*/
    }
}

@keyframes slideBloco8{
    0% {
        transform: translateY(0); /*Parado*/
    }
    33% {
        transform: translateY(-70px); /*Desce*/
    }
    66% {
        transform: translateY(-70px) translateX(-240px); /*Direita*/
    }
    100% {
        transform: translateY(0px) translateX(-240px) /*Sobe*/
    }
}










